*{margin : 0;
    padding : 0;}

body{
    background: snow;
}

.noyau{
    width:300px;
    height: 300px;
    position: absolute;
    transform-style: preserve-3d;
    animation: simplon 5s linear 5s alternate infinite;
}

@keyframes simplon{
    from{
        transform-origin: 0% 0%;
    }
    to{
        transform-origin: 0% 100%; transform:  rotateX(360deg);

    }
}

.slide{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-left: -200px;
    margin-top: -200px;
    perspective: 800px;
    perspective-origin: 50% 100%;
}

.cote{
    position: absolute;
    top: 0px;
    left: 0px;
}

.vitre{
    background: rgba(0, 0, 0,.91);
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    font-size: 50px;
    font-weight: bold;
    color: beige;
    border: 1px solid dimgray;
}

.vitre:nth-child(2){ background: rgba(0,0,0,.2)}
.vitre:nth-child(3){ background: rgba(0,0,0,.8)}
.vitre:nth-child(4){ background: rgba(0,0,0,.1)}
.vitre:nth-child(5){ background: rgba(0,0,0,.5)}


#face1{transform: rotateY(-90deg) translateX(300px);
    transform-origin: right center}

#face2{transform: rotateY(-90deg) translateX(0px);
    transform-origin: left center}

#face3{transform: rotateX(-90deg) translateY(-300px);
    transform-origin: top center}

#face4{transform: rotateX(-90deg) translateY(0px);
    transform-origin: bottom center}

.block{background: black;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    float: left;
    box-sizing: border-box;
    color : white;
    font-size: 86px;
    font-weight: bold;
    text-align: center;
    line-height: 150px;
    transition : 0.5s;

}

.block2{
    background: url(../img/fond.jpg);
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    float: left;
    box-sizing: border-box;
}

.block:hover{
    background: red;
    color: black;
    transition : 0.5s;
}

